<h1>{{headerTitle}}</h1>
<form>
  <div>
    <label {{bindAttr for="titleField.elementId"}}>Title</label>
    {{view Ember.TextField valueBinding='title' name='title' viewName='titleField'}}
  </div>
  <div>
    <label {{bindAttr for="bodyField.elementId"}}>Body</label>
    {{view Ember.TextArea valueBinding='body' name='body' viewName='bodyField'}}
  </div>
  <button {{action cancel}}>Annuler</button>
  <button {{action save}}>{{buttonTitle}}</button>
</form>
